<section id="inicio" class="inicio">
  <div class="contenido-banner">
    <img
      src="assets/img/profile_photo.webp"
      height="100%"
      width="100%"
      alt="Perfil"
    />
    <h1>Cristian Tobar</h1>
    <h2>Desarrollador Full Stack</h2>
    <div class="redes">
      <a
        href="https://www.linkedin.com/in/cristianandrestobar/"
        target="_blank"
      >
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a href="https://github.com/CristianTobar07" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a href="https://www.facebook.com/cristianndress/" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </div>
  </div>
</section>
