<section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2>Sobre Mí</h2>
    <p>
      <span>Hola, soy Cristian.</span> Con 5 años de experiencia sólida en el
      ámbito del desarrollo de software, he adquirido habilidades destacadas en
      el procesamiento y análisis de datos, la creación de páginas web, el
      desarrollo de aplicaciones móviles y la gestión de bases de datos, además
      de colaborar de manera efectiva en entornos de trabajo en equipo, entre
      otras competencias. Lo que resalta a lo largo de mi carrera es mi
      compromiso innegable con la disciplina, la dedicación y la
      responsabilidad. Me distingo por mi tenacidad y determinación al perseguir
      metas, siempre con el enfoque de lograr objetivos con éxito.
    </p>

    <div class="fila">
      <!-- datos personales -->
      <div class="col">
        <h3>Datos Personales</h3>
        <ul>
          <li>
            <strong>Email</strong>
            {{ "ctobar328@gmail.com" }}
          </li>
          <li>
            <strong>Teléfono</strong>
            +57 3136452017
          </li>
          <li>
            <strong>WhatsApp</strong>
            +57 3185637944
          </li>
          <li>
            <strong>Dirección</strong>
            Popayán - Cauca - Colombia
          </li>
          <li>
            <strong>Cargo</strong>
            <span>Desarrollador de software</span>
          </li>
        </ul>
      </div>

      <!-- intereses -->
      <div class="col">
        <h3>Tecnologías</h3>
        <div class="contenedor-intereses">
          <div class="interes">
            <i> <ion-icon name="logo-react"></ion-icon></i>
            <span>React</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="logo-angular"></ion-icon>
            </i>
            <span>Angular</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="logo-vue"></ion-icon>
            </i>
            <span>Vue</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </i>
            <span>R-Native</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="logo-nodejs"></ion-icon>
            </i>
            <span>Node</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="logo-docker"></ion-icon>
            </i>
            <span>Docker</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="server-outline"></ion-icon>
            </i>
            <span>SQL</span>
          </div>
          <div class="interes">
            <i>
              <ion-icon name="logo-python"></ion-icon>
            </i>
            <span>Python</span>
          </div>
        </div>
      </div>
    </div>
    <button id="download_curriculum">
      <a href="" target="_blank">
        Descargar CV <i class="fa-solid fa-download"></i>
        <span class="overlay"></span>
      </a>
    </button>
  </div>
</section>
